<!DOCTYPE html>
<html>
	<head>
		<title>CodeMirror</title>
		<!-- For CodeMirror -->
		<link rel="stylesheet" type="text/css" href="plugin/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="plugin/codemirror/theme/dracula.css">
		<!-- For Websockets -->
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <style>
    body{
      background-color: #282a36;
			color: white;
    }
    </style>
	</head>
	<body>
		<div>
			{% for dir in directories %}
			<button onclick="location.href = 'files?dirName={{ root }}{{ dir }}'">{{ dir }}</button><br>
			{% endfor %}
			{% for file in files %}
			<button onclick="location.href = 'editCode?fileName={{ root }}{{ file }}'">{{ file }}</button><br>
			{% endfor %}

		</div>
		<!-- javascript -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="plugin/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="js/default.js"></script>

    <script>


    </script>

	</body>
</html>
