<!DOCTYPE html>
<html>
<title>FooCycle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

  body, html {
    height: 100%;
    line-height: 1.8;
  }

  .w3-bar .w3-button {
    padding: 16px;
  }
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    FooCycle
  </div>
  <div class="w3-display-topright w3-padding-large w3-xlarge">
    Welcome to FooCycle!
  </div>
  <div class="w3-display-middle w3-center">
    <div class="FlaskForm">
      <h1 class="w3-jumbo w3-animate-top">Register</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <h2 class="w3-xlarge">{{ message }}</h2>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="POST" action="/registerUserSubmit">
          <div class="name">{{ form.name.label(class="w3-xlarge") }} {{ form.name }}</div>
          <div class="user_name">{{ form.user_name.label(class="w3-xlarge") }} {{ form.user_name }}</div>
          <div class="zipcode">{{ form.zipcode.label(class="w3-xlarge") }} {{ form.zipcode }}</div>
          <div class="password">{{ form.password.label(class="w3-xlarge") }} {{ form.password }}</div>
          {{ form.submit(class="w3-margin-top w3-xlarge w3-green") }}
      </form>
      <button type="button" class="w3-margin-top w3-xlarge w3-dark-grey"
        onclick="location.href = '{{ url_for('index') }}';">Back</button>
    </div>
  </div>

</div>


<script>

</script>

</body>
</html>
