<!DOCTYPE html>
<html>
<title>FooCycle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

  body, html {
    height: 100%;
    line-height: 1.8;
  }

  .w3-bar .w3-button {
    padding: 16px;
  }
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    FooCycle
  </div>
  <div class="w3-display-topright w3-padding-large w3-xlarge">
    Welcome to FooCycle!
  </div>

  <div class="FlaskForm">
    <h2 class="updateFood">Contact</h2>
    <form method="POST" action="/updateFoodSubmit">
        <div class="post_id">{{ form.post_id.label }} {{ form.post_id(size=20) }}</div>
        <div class="user_id">{{ form.user_id.label }} {{ form.user_id(size=20) }}</div>
        <div class="food_name">{{ form.food_name.label }} {{ form.food_name }}</div>
        <div class="food_description">{{ form.food_description.label }} {{ form.food_description }}</div>
        <div class="food_price">{{ form.food_price.label }} {{ form.food_price }}</div>
        {{ form.submit }}
    </form>
  </div>

</div>


<script>

</script>

</body>
</html>
