<!DOCTYPE html>
<html>
<title>FooCycle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

  body, html {
    height: 100%;
    line-height: 1.8;
  }

  /* Full height image header */
  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://www.diabetes.org/sites/default/files/styles/paragraph_50_50/public/2019-08/Diabetes-Superfoods-min.jpg");
    min-height: 100%;
  }

  .w3-bar .w3-button {
    padding: 16px;
  }
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    FooCycle - User Homepage
  </div>
  <div class="w3-display-topright w3-padding-large w3-xlarge">
    Welcome to FooCycle!
  </div>

  <div class="w3-display-middle w3-center">
    <h1 class="w3-jumbo w3-animate-top">FooCycle Homepage</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-xxlarge">Great food should be tasted, not wasted.</p>
    <button type="button" class="w3-margin-top w3-xlarge w3-green"
      onclick="location.href = '{{  url_for('post_food')  }}';">Post Food</button>
    <button type="button" class="w3-margin-top w3-xlarge w3-green"
      onclick="location.href = '{{  url_for('view_user_postings')  }}';">View Posts</button>
    <button type="button" class="w3-margin-top w3-xlarge w3-green"
      onclick="location.href = '{{  url_for('update_user')  }}';">Edit Profile</button>
    <button type="button" class="w3-margin-top w3-xlarge w3-green"
      onclick="location.href = '{{  url_for('update_food')  }}';">Edit Post</button>
    <button type="button" class="w3-margin-top w3-xlarge w3-red"
      onclick="location.href = '{{  url_for('delete_post')  }}';">Delete Post</button>
    <button type="button" class="w3-margin-top w3-xlarge w3-red"
    onclick="location.href = '{{  url_for('delete_user')  }}';">Delete Profile</button>
    <button type="button" class="w3-margin-top w3-xlarge w3-dark-grey"
      onclick="location.href = '{{ url_for('index') }}';">Log Out</button>
  </div>

</div>


<script>

</script>

</body>
</html>
